:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
/*start-Box*/
.d-flex{
    display: flex;
} 
.aling-center{
    align-items: center;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}


/*End-box*/
/*start color*/

.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}

.c-black{
    color: black;
}
.c-white{
    color: white;
}


/*end color*/
/* start font*/

.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.txt-c{
    text-align: center;
}


/*end font*/
/*start padding*/
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-15{
    padding: 15px;
}
.m-20{
    margin: 20px
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top:5px ;
} 
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
/*end padding*/
/*start border*/
.b-none{
    border: none;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
/* end border*/
/*start position*/
.p-relative{
    position: relative;
}
/* end position*/
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
/* start components*/
.between-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-flex{
     display: flex;
    justify-content: center;
    align-items: center;

}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;


}
/* end components*/

@media(max-width:767px){
    .block-mobile{
        display: block;
    }
    .txt-c-mobile{
        text-align: center;
    }

}
.space-between{
    justify-content: space-between;

}
.c-gray{
    color: var(--grey-color);
    
}