:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
body{
    background-color: #eee;
}
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
background-color: white;
}
::-webkit-scrollbar-thumb{
background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
background-color: var(--blue-alt-color-color);
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;

}
.sidebar >h3{
    margin-bottom: 50px;

}
.sidebar >h3::before,
.sidebar >h3::after{
        background-color: black;
            content: "";
                left: 50%;
                    transform: translateX(-50%);
                        position: absolute;






}
.sidebar >h3::before{
    width: 80px;
    height: 2px;
    bottom: -20px;

}
.sidebar >h3::after{
    bottom:-29px;
    width:12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;

}

.sidebar ul li a{
    transition: 0.3s;
    margin-bottom: 5px;


}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
    
} 
.sidebar ul li a:hover,
.sidebar ul li a:active{
    background-color: #f6f6f6;

}
@media (max-width:767px){
    .sidebar{
        width:62px;
        padding:10px ;
    }
    .sidebar ul li a span{
        display: none;
    }
    .sidebar >h3{
        font-size: 13px;
        margin-bottom: 15px;

    }
       .sidebar >h3::after,
       .sidebar >h3::before{
        display: none;
     
        
    }
}
/*start content head*/
.content{
    overflow: hidden;

}
.head .search::before{
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position:absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color:var(var(--grey-color));
     


}
.head .search input{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left:30px ;
    width: 160px;
    transition: width 0.3s;

}
.head .search input:focus{
    outline-color:#ddd ;
    width: 200px;


    
}
.head .search input:focus::placeholder{
    opacity: 0;

    
}
.head .icons .notification::befor{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top:-5px;
}
.head .icons img{
    width: 32px;
    height: 32px;

}
.page h1{
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;



}
.page h1::before{
    background-color: white;
    width: 120px;
}
.page h1::after{
    background-color: black;
    width: 40px;
}
.wrapper{
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media(max-width:767px){
 .wrapper{
      grid-template-columns: repeat(200px,minmax(450px,1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px; 
 }
}
/* start welcom widget*/
.welcom{
    overflow: hidden;
}
.welcom .intro img{
    width: 170px;
    margin-bottom: -10px;

}
.welcom .avatar{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;

}
.welcom .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}
.welcom .body >div{
    flex: 1;
    
} 
.welcom .visit{
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: auto;
    transition: 0.3s;

}
.welcom .visit:hover{
background-color: var(--blue-alt-color);
}
/* end welcom widget*/

/* start quick */

.quick-draft textarea{
    resize: none;
    min-height: 180px;


}
.quick-draft .save{
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;

}
.quick-draft .save:hover{
background-color: var(--blue-alt-color);

}

.target .target-row .icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;


}
.target .details{
    flex:1


}
.target .details .progrees{
    height: 4px;
    
}
.target .details .progrees >span{
    position: absolute;
    left: 0;
    height: 100%;
    top:0
    
}
.target .details .progrees >span span{
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;

}

.target .details .progrees >span span::after
{
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    border-top-color:var(--blue-color) ;
    left: 50%;
    transform: translateX(-50%);


    
}
.blue .icon,
.blue .progress{
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress{
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress{
    background-color: rgb(34 197 94 / 20%);
}
.target .details .progrees > .blue span::after
{
  border-top-color: var(--blue-color);

    
}

.target .details .progrees > .orange span::after
{

  border-top-color: var(--orange-color);


    
}
.target .details .progrees > .green span::after
{
  border-top-color:var(--green-color) ;



    
}

